@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main, .settings, .size-range, .btn-settings, .size {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgb(236, 239, 243);
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.exercise-topic {
    top: 2rem;
    left: 2rem;
    padding-right: 2rem;
    border-bottom: 10px solid rgba(89, 152, 219, 0.5);
    line-height: 0.6rem;
    color: rgb(0, 36, 74);
}

.settings {
    height: auto !important;
    width: 22rem !important;
    flex-direction: column;
}

.size-range {
    flex-direction: column;
}

.form-range::-webkit-slider-thumb {
    background-color: rgba(0, 36, 74, 0.8) !important;
}

.form-range::-webkit-slider-runnable-track {
    background-color: rgba(89, 152, 219, 0.5) !important;
}

.btn-settings span:hover {
    background-color: rgba(151, 189, 222, 0.2);
}

#colorPickerIcon:first-child {
    color: #ffffff;
    background-color: rgba(89, 152, 219, 0.2);
}

.material-symbols-outlined.active {
    background-color: rgba(89, 152, 219, 0.2) !important;
    border: 1px solid transparent !important;
}

.material-symbols-outlined:active {
    border: 1px solid transparent !important;
}

.material-symbols-outlined:nth-child(3) {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.board {
    height: 35rem;
    width: 35rem;
    background-color: #ffffff;
}

.board-body {
    display: grid;
}

.grid-items {
    background-color: transparent;
}

.eraser::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    bottom: -0.6rem;
    left: 0;
    background-color: rgba(0, 36, 74, 0.2);
}