@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main, .settings, .size-range, .btn-settings, .size, .owner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgb(236, 239, 243);
    height: 100dvh;
    width: 100vw;
    flex-direction: row;
}

.exercise-topic {
    top: 2rem;
    left: 2rem;
    padding-right: 2rem;
    border-bottom: 10px solid rgba(89, 152, 219, 0.5);
    line-height: 0.6rem;
    color: rgb(0, 36, 74);
}

.settings {
    height: auto !important;
    width: 27rem !important;
    flex-direction: column;
    border: none !important;
}

.size-range {
    flex-direction: column;
}

.btn-settings {
    width: 25%;
}

.form-range::-webkit-slider-thumb {
    background-color: rgba(0, 36, 74, 0.8) !important;
}

.form-range::-webkit-slider-runnable-track {
    background-color: rgba(89, 152, 219, 0.5) !important;
}

.btn-settings span:hover {
    border: 1px solid rgba(89, 152, 219, 0.2);
}

#colorPickerIcon:first-child {
    color: #ffffff;
    background-color: rgba(89, 152, 219, 0.2);
}

.material-symbols-outlined.active {
    border: 1px solid rgb(89, 152, 219) !important;
}

.material-symbols-outlined:active {
    border: 1px solid transparent !important;
}

.material-symbols-outlined:nth-child(3), .material-symbols-outlined:nth-child(3):hover,
.material-symbols-outlined:nth-child(3).active {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.material-symbols-outlined:nth-child(3):hover, .material-symbols-outlined:nth-child(3).active {
    border: 1px solid rgba(89, 152, 219, 0.5) !important;
}

.board {
    height: 35rem;
    width: 35rem;
    background-color: #ffffff;
}

.board-body {
    display: grid;
}

.grid-items {
    background-color: transparent;
}

.eraser::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    bottom: -0.8rem;
    left: 0;
    background-color: rgba(0, 36, 74, 0.3);
}

.owner {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(89, 152, 219, 0.1);
}

.fa-copyright {
    margin-right: 0.3rem;
}

#date {
    margin-right: 1rem;
    position: relative;
}

#date::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.5px;
    right: -0.5rem;
    background-color: rgba(0, 36, 74, 0.5);
}

.owner span, .owner i {
    font-size: 1rem;
    color: rgb(0, 36, 74);
}

.owner a:hover {
    opacity: 1 !important;
}

@media screen and (max-width: 991px) {
    .main {
        flex-direction: column;
    }
    .bottom-settings {
        flex-direction: column !important;
    }
    .btn-settings {
        flex-direction: row !important;
        width: 100% !important;
    }
    .eraser::before {
        height: 100%;
        width: 0.5px;
        left: 4rem;
        bottom: 0;
    }
    .owner {
        bottom: 1.5rem;
        left: 35%;
        padding: 0.5rem 0rem;
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .exercise-topic {
        left: 1.5rem;
    }
    .settings {
        width: 20rem !important;
    }
    .board {
        width: 20rem;
        height: 20rem;
    }
    .owner {
        bottom: 1rem;
        left: 25%;
        padding: 0.5rem 0rem;
        width: 50%;
    }
    .eraser::before {
        left: 2.8rem;
    }
    .btn-settings {
        padding: 0rem 0.5rem;
    }
}